---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { HugeiconsIcon } from "@hugeicons/react";
import { SaturnIcon } from "@hugeicons-pro/core-stroke-sharp";

const posts = (
  await getCollection("blog", ({ data }) =>
    import.meta.env.PROD ? !data.draft : true,
  )
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);

const pillars = [
  {
    icon: SaturnIcon,
    title: "Systems",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
  {
    icon: SaturnIcon,
    title: "Trust",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
  {
    icon: SaturnIcon,
    title: "Creativity",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
  {
    icon: SaturnIcon,
    title: "Maintenance",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
  {
    icon: SaturnIcon,
    title: "Ownership",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
  {
    icon: SaturnIcon,
    title: "Ownership",
    text: "Shared ownership. Whether I work independently or integrate with your team, everyone comes along.",
  },
];
---

<Layout>
  <main
    class="container max-w-2xl mx-auto pt-8 lg:pt-24 pb-16 lg:pb-40 flex flex-col gap-16"
  >
    <section>
      <div class="flex items-center gap-3">
        <Image
          src="https://i.pravatar.cc/160?u=juliusdotdev"
          alt=""
          width={44}
          height={44}
          class="rounded-full outline-1 -outline-offset-1 outline-black/10"
        />
        <div class="flex flex-col">
          <span class="text-black font-medium leading-snug"
            >Julius Dockwarder</span
          >
          <span class="text-sm leading-snug"
            >Fractional Engineering Partner</span
          >
        </div>
      </div>
      <p class="text-pretty mt-8">
        I'm a founding design engineer at Interfere, where we're building the
        self-healing layer of the internet. I care deeply about craft and
        quality and I like to make people feel something through my work.
      </p>
    </section>
    <section>
      <Card>
        <p class="px-6 py-5 pb-6 text-pretty text-lg text-neutral-800">
          I’ve spent the last fifteen years building 0→1 products for the
          world’s top tech companies. Today, I partner with founders to bring
          their ideas to life. As your design partner.
        </p>
      </Card>
    </section>
    <section>
      <Card>
        <div class="p-6 flex flex-col gap-0.5 items-start">
          <span class="text-xs pb-1">Julius Dockwarder &middot; just now</span>
          <div
            class="inline-block px-4 py-1.5 rounded-3xl bg-blue-600 text-white"
          >
            Let's schedule a call!
          </div>
          <div
            class="inline-block px-4 py-1.5 rounded-3xl bg-blue-600 text-white"
          >
            This'll be fun!
          </div>
        </div>
      </Card>
    </section>
    <section>
      <Card>
        <div class="grid md:grid-cols-2 overflow-hidden">
          {
            pillars.map((pillar) => {
              return (
                <div class="p-6 outline-[0.5px] outline-neutral-200">
                  <div
                    class="flex gap-2"
                    class:list={{
                      "items-baseline": !pillar.icon,
                      "items-center": !!pillar.icon,
                    }}
                  >
                    <HugeiconsIcon
                      icon={pillar.icon}
                      size={20}
                      strokeWidth={1.325}
                    />
                    <span class="text-lg font-medium text-neutral-800">
                      {pillar.title}
                    </span>
                  </div>
                  <p class="mt-1 text-pretty">{pillar.text}</p>
                </div>
              );
            })
          }
        </div>
      </Card>
    </section>
    <section class="grid gap-2 grid-cols-1 lg:grid-cols-2">
      {
        posts.map((post) => (
          <a
            href={`/blog/${post.id}`}
            class="block transition-transform hover:-translate-y-0.5"
          >
            <Card img={post.data.heroImage}>
              <div class="p-6 pt-5">
                <p class="text-lg text-neutral-800 font-medium text-pretty leading-snug">
                  {post.data.title}
                </p>
                <p class="mt-1 text-pretty text-sm">{post.data.description}</p>
              </div>
            </Card>
          </a>
        ))
      }
    </section>
  </main>
</Layout>
